*
{
	margin: 0;
	padding: 0;
	text-decoration: none;
}
body
{
	background: #34495e;
}
.content
{
	/*border: 1px solid black;*/
}
.img1
{
	background-image: url(img/bg9.jpg);
	background-attachment: fixed;
  	background-position: center;
    background-repeat: no-repeat;
  	background-size: cover;
	position: relative;
	height: 500px;
	width: 100%;
	z-index: 2;
}
.img1 img
{
	height: 500px;
	width: 100%;
}
.img1 h1
{
	position: absolute;
	color: #fff;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	font-size: 55px;
	background: rgba(0,0,0,.8);
	text-align: center;
	border-radius: 10px;
	width: 50%;
}
.img1 h2
{
	position: absolute;
	color: #fff;
	top: 80%;
	left: 5%;
	font-size: 70px;
}
.section
{
	background: #e74c3c;
	color: #fff;
	transform: skew(0deg,-10deg) translateY(-120px);
}
.container
{
	padding: 150px 200px;
	transform: skew(0deg, 10deg);
}
.container h1
{
	margin: 0px;
	padding: 20px 0;
	font-size: 3em;
}
.container p
{
	margin: 0px;
	padding: 0;
	font-size: 1.3em;
	line-height: 1.5em;
	width: 100%;
}
.section2
{
	/*background: blue;*/
	padding: 0 200px 150px;
	color: #fff;
	text-align: right;
}
.section2 h1
{
	margin: 0px;
	padding: 20px 0;
	font-size: 3em;
}
.section2 p
{
	margin: 0px;
	padding: 0;
	font-size: 1.3em;
	line-height: 1.5em;
	width: 100%;
}