* {
	padding: 0;
	margin: 0;
	list-style: none;
	text-decoration: none;
	font-family: sans-serif;
}
.heading
{
	margin-top: 70px;
	background: #ff7979;
	padding: 10px;
	text-align: center;
	color: #fff;
	font-size: 20px;
}

.content
{
	width: 100%;
	margin-top: 30px;
	margin-bottom: -30px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-gap: 2em;
	/*overflow: auto;*/
}
.product
{
	position: relative;
	height: 340px;
	margin: 5px;
	border-radius: 5px;
	background: #fff;
	box-shadow: 5px 3px 10px 5px rgba(0,0,0,.25);
	overflow: hidden;
}
.imgbox
{
	height: 100%;
	box-sizing: border-box;
}
.imgbox img
{
	display: block;
	width: 90%;
	height: 240px;
	margin: 20px auto 0;
}
.details
{
	position: absolute;
	width: 100%;
	bottom: -50px;
	background: #fff;
	padding: 10px;
	box-sizing: border-box;
	box-shadow: 0 0 0 rgba(0,0,0,0);
	transition: .5s;
}
.product:hover .details
{
	bottom: 0;
	box-shadow: 0 -5px 15px rgba(0,0,0,.25)
}
.details h2
{
	margin: 0;
	padding: 0;
	font-size: 16px;
	width: 100%;
}
.details h2 span
{
	font-size: 12px;
	color: #aaa;
	font-weight: normal;
}
.details .price,.qty
{
	position: absolute;
	top: 10px;
	right: 20px;
	font-weight: bold;
	color: #eb4d4b;
	font-size: 20px;
}
.qty
{
	top: 30px;
	font-size: 15px;
}
.delete , .update
{
	display: inline-flex;
	text-align: center;
	padding: 5px;
	width: 45%;
	color: #fff;
	margin: 15px 0 0;
	background: #ff7979;
	text-decoration: none;
	transition: .3s;
	cursor: pointer;
}
.delete:hover
{
	color: #fff;
	font-weight: bold;
	background: #eb4d4b;
}
.update:hover
{
	color: #fff;
	font-weight: bold;
	background: #eb4d4b;
}
.btn1,.btn2
{
	width: 45%;
	padding: 7px;
	margin-left: 50px;
	margin-top: 20px;
	background: #eb4d4b;
	color: #fff;
	font-size: 22px;
}
