*
{
	margin: 0;
	padding: 0;
	text-decoration: none;
}
body
{
	background: url(img/customize.jpg);
	/*background-attachment: fixed;*/
  	background-position: center;
    /*background-repeat: no-repeat;*/
  	background-size: cover;
}
section
{
	/*border: 1px solid black;*/
	width: 80%;
	margin:10px auto;
	margin-top: 22%;
	/*background: rgba(0,0,0,.5);*/
}
.cust1
{
	text-align: center;
	color:;
	font-size: 25px;
	font-weight: bold;
}
form input, select
{
	width: 70%;
	height: 3em;
	margin: 10px;
	background: transparent;
	border: 2px solid #000;
}
input::placeholder
		{
			color: #db4437;
			font-size: 18px;
		}
form,input,select
	{
		color: #db4437;
		padding-left: 10px;
		font-family: Trebuchet MS;
		font-weight: bold;
	}
	.btn1
	{
		background: #1dd1a1;	
		color: black;
		font-size: 20px;
	}
	.btn1:hover
	{
		border: 2px solid #fff;
	}