footer
{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-gap: 2em;
	padding: 2em 2em;
	background: #ccc;
}
footer div
{
	/*background: #ddd;*/
}
footer h3
{
	padding: 1em 0;
	color: blue;
}
footer padding
{
	padding-bottom: 1em;
	font-size: 15px;
	font-weight: bold;
}
.fsearch
{
	height: 2em;
	width: 13em;
	border: none;
	border-radius: 5px;
}
footer button
{
	height: 2.5em;
	border: none;
	border-radius: 5px;
	width: 3em;
	height: 2em;
	font-weight: bold;
	color: #fff;
	background: #db4437; #f1c40f
}
input::placeholder
		{
			color: #db4437;
			font-size: 18px;
		}
.fsearch,input
	{
		color: #db4437;
		padding-left: 10px;
		font-family: Trebuchet MS;
		font-weight: bold;
	}

.icon
{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-gap: 1em;
	/*width: 10em;*/
	/*padding: 1em;*/
	text-align: center;
	padding-top: 1em;
}
.icon div
{
	border-radius: 50%;
	border: 2px solid #ccc;
	padding: 1em;
	color: #fff;
	cursor: pointer;
	background: red;
}
.icon .fa
{
	font-size: 25px;
	transition: transform scale;
}
.icon div:nth-child(1)
{
	background: #3b5998;
}
.icon div:nth-child(2)
{
	background: #1da1f2;
}
.icon div:nth-child(3)
{
	background: #c32aa3;
}
.icon div:nth-child(4)
{
	background: #007bb5;
}

.icon div:hover .fa-facebook
{
	color: #3b5998;
	transform: scale(1.4);
}
.icon div:hover .fa-twitter
{
	color:  #1da1f2;
	transform: scale(1.4);
}
.icon div:hover .fa-instagram
{
	color: #c32aa3;
	transform: scale(1.4);
}
.icon div:hover .fa-linkedin
{
	color: #007bb5;
	transform: scale(1.4);
}
.icon div:hover
{
	background: #fff;
	transform: scale(1.4);
}
.icon div:hover:nth-child(1)
{
	border: 2px solid #3b5998;
}
.icon div:hover:nth-child(2)
{
	border: 2px solid #1da1f2;
}
.icon div:hover:nth-child(3)
{
	border: 2px solid  #c32aa3;
}
.icon div:hover:nth-child(4)
{
	border: 2px solid #007bb5;
}
.contact .fa
{
	color:#009432;
	font-size: 22px;
	padding-right: 5px; 
}
