*
{
	padding: 0;
	margin: 0;
	list-style: none;
	text-decoration: none;
	font-family: sans-serif;
}
nav
{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 60px;
	z-index: 11;
	/*background: transparent;*/
	padding: 0 50px;
	box-sizing: border-box;
	background: rgba(0,0,0,.2);
	/*box-shadow: 0 5px 15px rgba(0,0,0,.5);*/
} 
nav .brand
{
	float: left;
	height: 100%;
	line-height: 60px;
}
nav .brand h2
{
	color: #fff;
	font-size: 30px;
	font-family:Script MT;
	transform: scale(1.4);
}
nav ul
{
	float: right;
	display: flex;
}
nav ul li a
{
	position: relative;
	display: block;
	height: 70px;
	line-height: 70px;
	padding: 0 20px;
	color: #fff;
	font-weight: bold;
	text-transform: uppercase;
	transition: .5s;
}
nav ul li a:before
{
	content: '';
	position: absolute;
	top: 30%;
	left: 0;
	width: 100%;
	height:40%;
	background-color: #fff;
	overflow: hidden;
	z-index: -1;
	transform: scaleX(0);
	transform-origin: right;
	transition: transform .5s ease-in-out;
}
nav ul li a:hover
{
	color: #262626;
}
nav ul li a:hover:before
{
	transform: scaleX(1);
	transform-origin: left;
}
.toggle
{
	display: none;
	position: absolute;
	right: 10px;
	top: 20px;
	background: #f00;
	color: #fff;
	padding: 5px;
	cursor: pointer;
	font-weight: bold;
}


@media (max-width: 992px)
{
	.wrapper
	{
		grid-template-columns: 1fr;
		grid-auto-flow: minmax(100px,auto);	
		padding: 20px 20px;
		height: 200vh;
	}
	.toggle
	{
		display: block;
	}
	nav
	{
		padding: 0 10px;
		background: rgba(255,255,255,.5);
	}
	nav ul
	{
		width: 100%;
		top: 0;
		display: none;
	}
	nav ul.active
	{
		display: block;
	}
	nav ul li a
	{
		margin: 0;
		display: block;
		text-align: center;
		color: #fff;
		background: rgba(0,0,0,.5);
	}
	nav ul li a:hover
	{
		color: #fff;
	}
	.text
	{
		text-align: center;
		color: #fff;
		font-size: 2em;
		/*word-wrap: break-word;*/
		line-height: 50px;
		/*padding: 200px 0;*/
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%,-50%);
		/*cursor: pointer;*/
	}	

}