*
{
	padding: 0;
	margin: 0;
	list-style: none;
	text-decoration: none;
	font-family: sans-serif;
}
section.sec1 
{
	position: relative;
	height:100vh; 
	width:100%;
	box-sizing: border-box;
  	background-size: cover;
}
.sec1 img
{	
	position: absolute;
	height:100vh; 
	width:100%;
	/*box-sizing: border-box;	*/
	/*background-size: cover;*/
}
nav
{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 60px;
	z-index: 11;
	/*background: transparent;*/
	padding: 0 50px;
	box-sizing: border-box;
	background: rgba(0,0,0,.2);
	box-shadow: 0 5px 15px rgba(0,0,0,.5);
} 
nav .brand
{
	float: left;
	height: 100%;
	line-height: 60px;
}
nav .brand h2
{
	color: #fff;
	font-size: 30px;
	font-family:Script MT;
	transform: scale(1.4);
}
nav ul
{
	float: right;
	display: flex;
}
nav ul li a
{
	position: relative;
	display: block;
	height: 70px;
	line-height: 70px;
	padding: 0 20px;
	color: #fff;
	font-weight: bold;
	text-transform: uppercase;
	transition: .5s;
}
nav ul li a:before
{
	content: '';
	position: absolute;
	top: 30%;
	left: 0;
	width: 100%;
	height:40%;
	background-color: #fff;
	overflow: hidden;
	z-index: -1;
	transform: scaleX(0);
	transform-origin: right;
	transition: transform .5s ease-in-out;
}
nav ul li a:hover
{
	color: #262626;
}
nav ul li a:hover:before
{
	transform: scaleX(1);
	transform-origin: left;
}
/*.text*/
{
	text-align: center;
	color: #fff;
	font-size: 5em;
	line-height: 50px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	cursor: pointer;
}

.sec2
{
	min-height: 100vh;
	width: 100%;
	background: url(img/menu.jpg);
	/*background-attachment: fixed;*/
    /*background-position: center;*/
    /*background-repeat: no-repeat;*/
    /*background-size: cover;*/
}
.toggle
{
	display: none;
	position: absolute;
	right: 10px;
	top: 20px;
	background: #f00;
	color: #fff;
	padding: 5px;
	cursor: pointer;
	font-weight: bold;
}
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 45%;
  width: auto;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 38px;
}
.next {
  right: 0;
}
.sec2 div h2
{
	left: 50%;
	text-align: center;
	color: #fff;
	padding-top: 10px;
	font-size: 50px;
	font-family: Viner Hand ITC, Script MT;
}
.wrapper
		{
			display: grid;
			/*grid-template-columns: 70% 30%;*/
			grid-template-columns: 1fr 1fr 1fr;
			grid-gap: 5em;
			/*grid-auto-flow: minmax(100px,auto);	*/
			padding: 20px 60px;
			margin-top: 300px;
			/*background: rgba(255,255,255,.1);*/
			/*background: url(img/bg8.jpg);*/
			background-size: cover;
			/*border: 1px solid #fff;*/
			border-radius: 5	0px;
			margin-left: 50px;
			margin-right: 50px;
			padding-bottom: 50px;
			border-top: none;
}
.wrapper div 
{
	background: #ddd;
	position: relative;
	height: 300px;
	border: 2px solid #000;
	transform: scale(1);
	background-size: cover;	
	background-position: center;
	border-radius: 20px;
	border: 2px solid #fff;
}
.wrapper div h1
{
	text-align: center;
	color: #fff;
	font-size: 1.6em;
	position: absolute;
	bottom:-33px;
	left: 50%;
	width: 110%;
	background: #000;
	border: 2px solid #fff;
	transform: translate(-50%,-50%);
	cursor: pointer;
}
.wrapper div:hover h1
{
	background: #fff;
	color: #000;
	/*border: 2px solid #000;*/
}
footer
{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-gap: 2em;
	padding: 2em 2em;
	background: #ccc;
}
footer div
{
	/*background: #ddd;*/
}
footer h3
{
	padding: 1em 0;
	color: blue;
}
footer padding
{
	padding-bottom: 1em;
	font-size: 15px;
	font-weight: bold;
}
.fsearch
{
	height: 2em;
	width: 13em;
	border: none;
	border-radius: 5px;
}
footer button
{
	height: 2.5em;
	border: none;
	border-radius: 5px;
	width: 3em;
	height: 2em;
	font-weight: bold;
	color: #fff;
	background: #db4437; #f1c40f
}
input::placeholder
		{
			color: #db4437;
			font-size: 18px;
		}
.fsearch,input
	{
		color: #db4437;
		padding-left: 10px;
		font-family: Trebuchet MS;
		font-weight: bold;
	}

.icon
{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-gap: 1em;
	/*width: 10em;*/
	/*padding: 1em;*/
	text-align: center;
	padding-top: 1em;
}
.icon div
{
	border-radius: 50%;
	border: 2px solid #ccc;
	padding: 1em;
	color: #fff;
	cursor: pointer;
	background: red;
}
.icon .fa
{
	font-size: 25px;
	transition: transform scale;
}
.icon div:nth-child(1)
{
	background: #3b5998;
}
.icon div:nth-child(2)
{
	background: #1da1f2;
}
.icon div:nth-child(3)
{
	background: #c32aa3;
}
.icon div:nth-child(4)
{
	background: #007bb5;
}

.icon div:hover .fa-facebook
{
	color: #3b5998;
	transform: scale(1.4);
}
.icon div:hover .fa-twitter
{
	color:  #1da1f2;
	transform: scale(1.4);
}
.icon div:hover .fa-instagram
{
	color: #c32aa3;
	transform: scale(1.4);
}
.icon div:hover .fa-linkedin
{
	color: #007bb5;
	transform: scale(1.4);
}
.icon div:hover
{
	background: #fff;
	transform: scale(1.4);
}
.icon div:hover:nth-child(1)
{
	border: 2px solid #3b5998;
}
.icon div:hover:nth-child(2)
{
	border: 2px solid #1da1f2;
}
.icon div:hover:nth-child(3)
{
	border: 2px solid  #c32aa3;
}
.icon div:hover:nth-child(4)
{
	border: 2px solid #007bb5;
}
.contact .fa
{
	color:#009432;
	font-size: 22px;
	padding-right: 5px; 
}












@media (max-width: 992px)
{
	.wrapper
	{
		grid-template-columns: 1fr;
		grid-auto-flow: minmax(100px,auto);	
		padding: 20px 20px;
		height: 200vh;
	}
	.toggle
	{
		display: block;
	}
	nav
	{
		padding: 0 10px;
		background: rgba(255,255,255,.5);
	}
	nav ul
	{
		width: 100%;
		top: 0;
		display: none;
	}
	nav ul.active
	{
		display: block;
	}
	nav ul li a
	{
		margin: 0;
		display: block;
		text-align: center;
		color: #fff;
		background: rgba(0,0,0,.5);
	}
	nav ul li a:hover
	{
		color: #fff;
	}
	.text
	{
		text-align: center;
		color: #fff;
		font-size: 2em;
		/*word-wrap: break-word;*/
		line-height: 50px;
		/*padding: 200px 0;*/
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%,-50%);
		/*cursor: pointer;*/
	}	

}