*
	{
		text-decoration: none;
	}
		#main
		{
			/*border: 1px solid;*/
			background: url(img/.jpg);
			background-color: #777;
			border-radius: 20px;
			height: 370px;
			width: 500px;
			margin: 70px auto;
			/*padding: 30px;*/
			padding-left: 60px;
			padding-top: 150px;
		}
		span
		{
			margin: 0;
			padding: 0;
			float: left;
		}
		 img
		{
			height: 40px;
			width: 40px;
			/*border:1px solid gray;*/
			border-left: none;
		}

		#txtpwd
		{
			padding: 0;
			margin: 0;
			height: 40px;
			width: 310px;
			border:2px solid ;
			border-top: 0px;
			border-left: 0px;
			border-right: 0px;
			/*border:1px solid gray;*/
			background: none;
			border-right: none;
			margin-left: 40px;
			outline: 0;
			/*background: url(img/txtbox.jpg);*/
		}
		#txtname
		{
			padding: 0;
			margin: 0;
			height: 40px;
			width: 340px;
			border:2px solid ;
			border-top: 0px;
			border-left: 0px;
			border-right: 0px;
			/*border:1px solid gray;*/
			background: none;
			margin-bottom: 20px;
			margin-top: 50px;
			margin-left: 40px;
			outline: 0;
			transition: border-bottom 1s;
			/*background: url(img/txtbox.jpg);*/
		}
		/*#txtname:focus*/
		{
			border-bottom: 2px solid black;
		}

		input,txtname,h2
		{
			font-family: FontAwesome;
		    font-style: normal;
		    font-weight: normal;
		}
		#bimg
		{
			/*border : 2px solid white;*/
			border-bottom: 2px solid white;
		}
		h1
		{
			/*text-align: center;*/
			margin-top: -100px;
			border-top: 2px solid;
			border-bottom: 2px solid;
			margin-left: -60px;
			text-align: center;
			color: white;
			font-style: Latin;
		}
		h3
		{
			color: white;
			margin-left: 90px;
		}
		h2
		{
			color: white;
			margin-left: 100px;
			margin-top: 30px;
			width: 245px;
			padding-left: 20px;
			border:2px solid white;
			background: #097054;
		}
		h2:hover
		{
			background: #336688;
		}
		#button
		{
			/*background: #FDD017;*/
			background: no-repeat;
			border: none; 
			border-radius: 80px;
			background-color:  #336688;
			height: 50px;
			width: 250px;
			margin-left: 100px;
			margin-top: 60px;
			color: white;
			font-weight: bolder;
			font-size: 30px;
		}
		#button:hover
		{
			/*font-family: latin;*/
			background:  #097054;
			color: white;
			border:0px solid white;
		}
		input::placeholder
		{
			color:#f4f141;
			padding-left: 10px;
			font-size: 20px;
		}
		#txtname,input
		{
			color: white;
			padding-left: 10px;
			font-size: 20px;
		}
		#forgot
		{
				margin-left: 290px;
				margin-top: 30px;
				position: fixed;
				cursor: pointer;
		}
		#forgot:hover
		{
			color: #f4f141;
		}
		/*input, button #add icon in placeholder */
		/*{
			font-family: FontAwesome;
		    font-style: normal;
		    font-weight: bold;  
		}*/