* 
{     
  margin: 0;     
  padding: 0; 
  color: white;
} 
#body
{
  /*border: 1px solid white;*/
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#formwrapper
{
  /*border: 2px solid white;*/
  width: 450px;
  margin: 60px auto;
  /*margin-bottom: 30px;*/
  padding: 30px;
  background-color: #777;
  border-radius: 20px;
  /*padding-right: 10px;*/
}
#formbottom , #formtop
{
  overflow: auto;
}

.txtbox
{
	height: 40px;
	width: 340px;
	border:2px solid ;
	border-top: 0px;
	border-left: 0px;
	border-right: 0px;
	/*border:1px solid gray;*/
	background: none;
	margin-bottom: 20px;
	margin-top: 0px;
	margin-left: 40px;
	outline: 0;
}
.txtbox:focus
{
	border-bottom: 2px solid black;
}
#head
{
	text-align: center;
	font-size: 30px;
	font-weight: bolder;
}
.fields
{
	margin-top: 20px;
	margin-bottom: -20px;
	font-size: 23px;
	color: #f4f141 ;

}
.rb
{
	float: left;
	margin-left: 40px;
}
.rb input
{

}
#txtbox,input
{
	color: white;
	padding-left: 10px;
	font-size: 18px;
}
.btn
{
	float: left;
	margin-top: 40px;
	margin-left: 80px;
	width: 100px;
	height: 40px;
	border-radius: 30px;
	border:none;
	color: white;
	font-weight: bolder;
	font-size: 20px;
	background-color:  #336688;
}
.btn:hover
{
    font-family: latin;
	background:  #097054;
	color: white;
	border:0px solid white;
}

