*
{
	margin: 0;
	padding: 0;
	text-decoration: none;
}
.section
{
	width: 100%;
	height: 100vh;
}
.store
{
	display: grid;
	/*border: 1px solid;*/
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 5em;
}
.store div
{
	height: 400px;
	width: 400px;
}
.store div img
{
	height: 400px;
	width: 400px;
}