*
{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	list-style: none;
}
/*body
{
	background:#ff7979;
}*/
#main
{
	/*border: 1px solid black;*/
	margin-top: 60px;
	width: 99%;
	overflow: auto;
	padding: 4px;
}
.contentleft
{
	/*border: 1px solid black;*/
	position: fixed;
	width: 20%;
	height: 590px;
	float: left;
	background: #ff7979;
	border-radius: 20px;
	overflow-y: auto;
}
.contentleft img
{
	height: 130px;
	width: 100%;
}
.categorylist
{
	display: block;
	margin: 0px 20px;
}
.categorylist li
{
	background: #ff7979;
	display: block;
	text-align: center;
	color: #fff;
	font-size: 20px;
	border-radius: 10px;
	padding: 10px;
	margin: 3px 0; 
	border: 2px solid #ff7979;
	cursor: pointer;
}
.categorylist li:hover
{
	border: 2px solid #fff;
	background: #000;
}
.contentright
{
	/*border: 1px solid black;*/
	width: 79%;
	/*height: 650px;*/
	float: right;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 2em;
	/*overflow: auto;*/
}
.product
{
	/*border: 1px solid black;*/
	position: relative;
	/*width: 32%;*/
	height: 340px;
	margin: 5px;
	/*float: right;*/
	border-radius: 5px;
	background: #fff;
	box-shadow: 0 5px 15px rgba(0,0,0,.25);
	overflow: hidden;
}
.imgbox
{
	height: 100%;
	box-sizing: border-box;
}
.imgbox img
{
	display: block;
	width: 90%;
	height: 240px;
	margin: 20px auto 0;
}
.details
{
	position: absolute;
	width: 100%;
	bottom: -90px;
	background: #fff;
	padding: 10px;
	box-sizing: border-box;
	box-shadow: 0 0 0 rgba(0,0,0,0);
	transition: .5s;
}
.product:hover .details
{
	bottom: 0;
	box-shadow: 0 -5px 15px rgba(0,0,0,.25)
}
.details h2
{
	margin: 0;
	padding: 0;
	font-size: 16px;
	width: 100%;
}
.details h2 span
{
	font-size: 12px;
	color: #aaa;
	font-weight: normal;
}
.details .price
{
	position: absolute;
	top: 10px;
	right: 20px;
	font-weight: bold;
	color: #eb4d4b;
	font-size: 20px;
}
label
{
	display: block;
	margin-top: 5px;
	font-weight: bold;
	font-size: 14px;
}
.box , input
{
	height: 20px;
	width: 50px;
	outline: none;
}
input[type="number"]:out-of-range
{
    border: 2px solid red;
}
.cart
{
	display: block;
	padding: 5px;
	color: #fff;
	margin: 15px 0 0;
	background: #ff7979;
	text-align: center;
	text-decoration: none;
	transition: .3s;
	cursor: pointer;
}
.cart:hover
{
	color: #fff;
	font-weight: bold;
	background: #eb4d4b;
}
